<!-- <div *ngFor="let employee of employees">
  <div>{{employee.firstName}}  {{employee.lastName}} </div>
</div> -->
<head>
  <title>
    <link rel="stylesheet" href="">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.20.0/js/mdb.min.js" integrity="sha512-XFd1m0eHgU1F05yOmuzEklFHtiacLVbtdBufAyZwFR0zfcq7vc6iJuxerGPyVFOXlPGgM8Uhem9gwzMI8SJ5uw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">Employee Details</span>
  <button type="button" class="btn btn-success" id="add-employee-form" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-circle" aria-hidden="true" ></i> Add Employee </button>
</nav>

<div class="row" id="main-container">
  <div class="col-sm-6" *ngFor="let employee of employees" style="margin-top: 20px;">
    <div class="card" >
      
      <div class="card-body">
        <h3 class="card-title" style="text-align: center;">{{employee.firstName}}  {{employee.lastName}}</h3>
        <h6 class="card-text" style="text-align: center;">Email Address: {{employee.email}} </h6>
        <div class="buttons" style="margin-top: 30px; text-align: center;">
          
          <a (click)="onOpenModal(employee, 'edit')"  class="btn" id="editButton"  ><i class="fa fa-pencil" aria-hidden="true"></i> Edit </a>
          <a (click)="onOpenModal(employee, 'delete')" id="deleteButton" class="btn"><i class="fa fa-trash"></i> Delete</a>
        </div>
      </div>
    </div>
  </div>
  
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
   <div class="modal-dialog">
   
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <h4 class="modal-title" style="text-align:center">Add Employee</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
       </div>
       <div class="modal-body">
         <form #addForm="ngForm" (ngSubmit)="onAddEmloyee(addForm)">
            <div class="form-group">
               <label for="name">First Name</label>
               <input type="text" ngModel name="firstName" class="form-control" id="firstName" placeholder="First Name" required>
            </div>
            <div class="form-group">
              <label for="name">Last Name</label>
               <input type="text" ngModel name="lastName" class="form-control" id="lastName" placeholder="Last Name" required>
               
            </div>
            <div class="form-group">
               <label for="email"> Email Address </label>
               <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
            </div>
            <div class="modal-footer">
               <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>

         </form>
         
       </div>
       
     </div>
     
   </div>
 </div>

<!-- Edit Modal -->
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee: {{editEmployee?.firstName}} {{editEmployee?.lastName}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
            <div class="form-group">
               <label for="id">ID</label>
               <input ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id" placeholder="ID" disabled>
            </div>
              <div class="form-group">
                 <label for="firstName">First Name</label>
                 <input type="text" ngModel="{{editEmployee?.firstName}}" name="firstName" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="First Name">
              </div>
              <div class="form-group">
               <label for="lastName">Last Name</label>
               <input type="text" ngModel="{{editEmployee?.lastName}}" name="lastName" class="form-control" id="lastName" aria-describedby="emailHelp" placeholder="Last Name">
            </div>
              <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id" placeholder="Email">
              <div class="form-group">
                 <label for="email">Email Address</label>
                 <input type="email" ngModel="{{editEmployee?.email}}" name="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateEmloyee(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete employee {{deleteEmployee?.firstName}} {{deleteEmployee?.lastName}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteEmployee(deleteEmployee.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- </div> -->

<!-- Notification for no employees -->
<div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">NO EMPLOYEES!</h4>
  <p>No Employees were found.</p>
</div>
</div>